<ion-header class="ion-no-border ion-no-margin">
  <ion-toolbar>
    <h1 class="PageTitle">
      Personajes
    </h1>
  </ion-toolbar>
</ion-header>

<ion-content role="feed" [fullscreen]="true">
  <app-character-list [characters]="characters"></app-character-list> 
  <ion-infinite-scroll 
  class="ion-padding"
  threshold="100px" 
  position="bottom" 
  (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content 
    loadingSpinner="circular"
    loadingText="Obteniendo otros personajes...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
